{
  "settings": [
    {
      "provider": "namecom",
      "domain": "${DDNS_DOMAIN}",
      "owner": "${DDNS_OWNER}",
      "username": "${NAMEDOTCOM_USER}",
      "token": "${NAMEDOTCOM_API_TOKEN}",
      "ttl": 300,
      "ip_version": "ipv4"
    }
  ]
}
